<?xml version="1.0" encoding="UTF-8"?>

<web-app id="admin" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>JMXJsonServlet</servlet-name>
        <servlet-class>com.zfabrik.impl.management.web.JMXJsonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JMXJsonServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>monitor</role-name>
        </auth-constraint>
    </security-constraint>
    
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>realm</realm-name>
    </login-config>

    <security-role>
        <description>monitor</description>
        <role-name>monitor</role-name>
    </security-role>
    
</web-app>

